@font-face {
    font-family: "primary";
    src: url(fonts/RobotoSlab-Regular.ttf);
}

* {
    box-sizing: border-box !important;
}

body {
    min-height: 100vh !important;
    width: 100% !important;
    background: url(images/body-bg.png);
    background-size: cover;
}

.navbar-main {
    background: transparent !important;
    /* border: 1px solid red; */
}

.nav-title {
    padding: 0px 20px;
    filter: invert(0.2);
    height: 50px;
    width: 130px;
    filter: drop-shadow(1px 1px 5px #00000080);
}

.nav-btn {
    font-family: "primary";
    text-shadow: 1px 1px 5px #00000080;
    font-size: 1rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid #FAFAFA;
    background: transparent;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
    filter: invert();
}

.nav-btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.nav-pages {
    color: #9a8a7f;
    font-size: 18px;
    font-family: "primary";
    margin-right: 5px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px #00000080;
}

.nav-pages:hover,
.nav-pages:active {
    color: #000;
    font-weight: 900;
    background: url(images/decor.png);
    background-repeat: no-repeat;
    background-size: 40px 20px;
    background-position: center;
    text-shadow: none;
}

.search-and-category-section {
    /* border:  1px solid #0000006d; */
    border-top: 1px solid #9a8a7f;
    /* border-bottom: 1px solid #9a8a7f; */
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-bar-wrapper {
    position: relative;
    margin: 20px 0px;
}

.search-bar {
    font-family: "primary";
    width: 350px;
    height: 60px;
    padding: 5px 10px 5px 60px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background: transparent;
    font-size: 20px;
}

.search-bar:focus {
    border: 2px solid #000;
    transition: all 1s linear;
}

.search-bar-icon {
    position: absolute;
    top: 5px;
    left: 2px;
}

.filter-categories h3 {
    font-size: 20px;
    font-family: "primary";
    cursor: pointer;
    text-shadow: 1px 1px 5px #00000080;
}

.filter-categories h3:hover,
.filter-categories h3:active {
    color: #000;
    font-weight: 900;
    background: url(images/decor.png);
    background-repeat: no-repeat;
    background-size: 60px 20px;
    background-position: center;
    text-shadow: none;
}


.filter-categories {
    width: 850px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1400px) {
    .search-and-category-section {
        height: 200px;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar-wrapper {
        width: 80%;
    }

    .search-bar-wrapper {
        margin: 0px;
    }
}

@media screen and (max-width: 768px) {
    .filter-categories {
        flex-wrap: wrap;
        margin: 8px 10px;
        justify-content: space-evenly !important;
    }

    .filter-categories h3 {
        font-size: 17px;
    }

    .search-bar-icon {
        height: 35px;
        width: 35px;
    }

    .search-bar {
        height: 45px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
        border-top: 1px solid #000;
    }

    .nav-btn {
        margin: 10px 0 0 0;
    }
}

.news-headline {
    width: 100%;
    height: 100px;
    border-top: 1px solid #9a8a7f;
    border-bottom: 1px solid #9a8a7f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-headline span {
    font-family: "primary";
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: 900;
    background: url(images/decor.png);
    background-repeat: no-repeat;
    background-size: 140px 50px;
    background-position: center;
    text-shadow: 1px 1px 10px #9a8a7fd7;
}

.news-headline hr {
    border: 2px solid #000 !important;
    width: 100px;
    margin: 0px 25px;
}

.news-display-area {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
}

.card-container {
    padding: 0 !important;
    display: flex !important;
    justify-content: space-evenly !important;
    margin: 0 !important;
}

.card {
    max-width: 550px !important;
    width: 90% !important;
    min-width: 250px !important;
    margin: 15px !important;
    padding: 0 !important;
    border-radius: 0px !important;
    background: transparent !important;
    border: none !important;
}

.news-img {
    /* width: 100% !important; */
    height: 300px !important;
    object-fit: cover !important;
    object-position: 0% 100% !important;
    border-radius: 0px !important;
    filter: grayscale(1);
    box-shadow: 10px 10px 0px #1d1d1d86;
}

.card-title {
    text-align: center;
    font-size: 26px;
    font-family: "primary";
    font-weight: 900;
}

.card-text {
    color: #5a3f30;
    font-size: 16.5px;
}

.card-footer {
    background: transparent !important;
    border-top: 1.5px solid #9a8a7f !important;
    border-bottom: 1.5px solid #9a8a7f;
    border-radius: 0px !important;
    width: 100%;
    display: flex;
}

.news-date {
    margin-left: auto;
}

@media screen and (max-width: 481px) {
    .card-title {
        font-size: 22px;
    }
}

.pagination-wrapper {
    /* border: 1px solid red; */
    height: 55px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.pagination {
    margin-bottom: 0 !important;
}

.page-link {
    background: transparent !important;
    color: #000 !important;
    font-size: 18px !important;
    font-weight: 700;
    border-radius: 0px !important;
    border-color: #000 !important;
    margin: 0px 5px !important;
    box-shadow: 4px 4px 0px #1d1d1d86 !important;
}

.page-link:focus {
    box-shadow: inset 4px 4px 0px #1d1d1d86 !important;
}

/* .page-link:disabled,
.page-link[disabled] {
    color: #585858 !important;
    border-color: #585858 !important;
    box-shadow: 4px 4px 0px #9f9f9f86 !important;
} */